<div class="card text-center my-1">
    <div class="card-header bg-dark text-white text-start h3">
        {{match.club_1}}-{{match.club_2}}
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h5 class="card-title">Giải V-Leaugue</h5>
            {{#ifNotEqualZero match.timeRunning}}
            <div style="color:red;font-size: 12px;">Đang diễn ra</div>
            {{else}}
            <div style="color:black;font-size: 12px;">Kết Thúc</div>
            {{/ifNotEqualZero}}

        </div>

        <div class="row">
            <div class="col-3">
                <div class="row">
                    <div class="col-12">
                        <img src="{{club1.logo}}" alt=""
                            style="width: 60px; height: 60px">
                    </div>
                    <div class="col-12 h4" style="line-height: 30px; padding-left: 20px">{{match.club_1}}</div>
                </div>
            </div>
            <div class="col-2 h1">
                <div style="line-height: 30px; padding-left: 20px">{{match.goal_1}}</div>

            </div>
            <div class="col-2 h1"> - </div>
            <div class="col-2 h1">
                <div style="line-height: 30px; padding-left: 20px">{{match.goal_2}}</div>

            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-12">
                        <img src="{{club2.logo}}" alt=""
                            style="width: 60px; height: 60px">
                    </div>
                    <div class="col-12 h4" style="line-height: 30px; padding-left: 20px">{{match.club_2}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        <div class="row">
            {{#each match.report as | rp |}}
            {{#if @index}}
            <div class="col-6 text-end">
                {{else}}
                <div class="col-6 text-start">
                    {{/if}}


                    {{#renderlines rp}}
                    {{this}}
                    {{/renderlines}}
                </div>
                {{/each}}
                {{!-- <div class="col-6 text-end">
                    {{hihi}}
                    cdcdcdcdccdcdcd
                    cdcdcdss
                </div> --}}
            </div>
        </div>
    </div>