<div class="card mt-2 border-bottom" style="margin: auto; max-width:800px">
    <div class="card-body">
        <div class="row">
            <div class="col-2 text-center" style="margin: auto;">
                 <div style="color:red;font-size: 12px;">
                    
                    {{#status this.status}}
                    {{/status}}
                    {{!-- {{#ifNotEqualZero this.timeRunning this.status}}
                    Đang diễn ra
                    {{/ifNotEqualZero}} --}}
                </div>
                <div> {{this.date}} </div>
                <div> {{this.time}} </div>
            </div>

            <div class="col-8 border-end border-start">
                <div style="margin-bottom: 15px;">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex">
                            <img
                                src="{{this.logo_1}}"
                                alt="" style="width: 30px; height: 30px">
                            <div style="line-height: 30px; padding-left: 20px">{{this.club_1}}</div>
                        </div>
                        <div style="line-height: 30px; padding-left: 20px">{{this.goal_1}}</div>
                    </div>
                </div>

                <div>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex">
                            <img
                                src="{{this.logo_2}}"
                                alt="" style="width: 30px; height: 30px">
                            <div style="line-height: 30px; padding-left: 20px">{{this.club_2}}</div>
                        </div>
                        <div style="line-height: 30px; padding-left: 20px">{{this.goal_2}}</div>
                    </div>
                </div>
            </div>

            <div class="col-2 align-items-center" style="position: relative;">
                <div style="margin: auto;   position: absolute; top: 50%; left: 50%;transform: translate(-50%, -50%);" class="text-center">
                    {{this.stadium}}
                </div>

            </div>
        </div>
    </div>
</div>