<div class="container p-100">
    <div class="row">
        <div class="col-5 mx-auto ">
            <h5 class="text-center rounded-3 py-3 mt-3 text-light" style="background-color: rgb(36, 106, 203); display: block;
                ">CHỈNH SỬA QUY ĐỊNH</h5>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12 col-md-19 col-lg-10 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    {{!-- <h5 class="card-title text-center mb-5 fw-light fs-5">{{tengiai}}</h5>
                    --}}
                    <h5 class="card-title text-center mb-5 fw-light fs-5">GIẢI ĐẤU V-LEAGUE</h5>

                    <form class="row g-3" method="post" action = "/manage/edit-regulations">

                        <div class="col-md-6 form-floating mb-3">
                            <input name="minAge" type="number" class="form-control" id="inputDTTT"
                                placeholder="Độ tuổi cầu thủ tối thiểu" value={{rule.minAge}}>
                            <label for="inputDTTT">Độ tuổi cầu thủ tối
                                thiểu</label>
                        </div>
                        <div class="col-md-6 form-floating mb-3">

                            <input name="maxAge" type="number" class="form-control" id="inputDTTD"
                                placeholder="Độ tuổi cầu thủ tối đa" value={{rule.maxAge}}>
                            <label for="inputDTTD" class="form-label">Độ tuổi
                                cầu thủ tối đa</label>
                        </div>

                        <div class="col-md-6 form-floating mb-3">
                            <input name="minPlayer" type="number" class="form-control" id="inputSCTMin"
                                placeholder="Số cầu thủ CLB tối thiểu" value={{rule.minPlayer}}>
                            <label for="inputSCTMin">Số cầu thủ CLB tối
                                thiểu</label>
                        </div>
                        <div class="col-md-6 form-floating mb-3">

                            <input name="maxPlayer" type="number" class="form-control" id="inputSCTMax"
                                placeholder="Số cầu thủ CLB tối đa" value={{rule.maxPlayer}}>
                            <label for="inputSCTMax" class="form-label">Số cầu
                                thủ CLB tối đa</label>
                        </div>

                        <div class="col-md-4 form-floating mb-3">
                            <input type="number" class="form-control" id="inputFullName" placeholder="Số ngoại
                                binh" name="foreignerPlayer" value ={{rule.foreignerPlayer}}>
                            <label for="inputFullName" class="form-label">Số
                                ngoại binh</label>
                        </div>


                        <div class="col-md-3 mb-3 mx-auto">
                            <label class="row pl-3" for="multiple-checkboxes">Loại
                                bàn thắng</label>
                            <select class="select row" id="multiple-checkboxes" multiple="multiple" name="typeOfGoal" value ={{rule.typeOfGoal}}>
                                <option class="py-1" value="Đánh đầu" {{#checkSelected 'Đánh đầu' rule.typeOfGoal}}selected{{/checkSelected}}>Đánh đầu</option>
                                <option class="py-1" value="Sút xa" {{#checkSelected 'Sút xa' rule.typeOfGoal}}selected{{/checkSelected}}>Sút xa</option>
                                <option class="py-1" value="Cận thành" {{#checkSelected 'Cận thành' rule.typeOfGoal}}selected{{/checkSelected}}>Cận thành</option>
                                <option class="py-1" value="Phạt đền" {{#checkSelected 'Phạt đền' rule.typeOfGoal}}selected{{/checkSelected}}>Phạt đền</option>
                                <option class="py-1" value="Phản lưới" {{#checkSelected 'Phản lưới' rule.typeOfGoal}}selected{{/checkSelected}}>Phản lưới</option>
                                <option class="py-1" value="Phạt góc" {{#checkSelected 'Phạt góc' rule.typeOfGoal}}selected{{/checkSelected}}>Phạt góc</option>
                            </select>

                        </div>

                        <div class="col-md-4 form-floating mb-3">
                            <input type="number" class="form-control" id="inputTDGBTD"
                                placeholder="Thời điểm ghi bàn tối đa" value={{rule.maxTimeGoal}}>
                            <label for="inputTDGBTD" class="form-label">Thời điểm ghi bàn tối đa</label>
                        </div>

                        <div class="col-md-4 form-floating mb-3">
                            <input type="number" class="form-control" id="inputSoDiemThang" placeholder="Số điểm
                                thắng" name="win" value={{rule.score.win}}>
                            <label for="inputSoDiemThang" class="form-label">Số điểm thắng</label>
                        </div>
                        <div class="col-md-4 form-floating mb-3">
                            <input type="number" class="form-control" id="inputSoDiemHoa" placeholder="Số điểm
                                hòa" name = "draw" value={{rule.score.draw}}>
                            <label for="inputSoDiemHoa" class="form-label">Số điểm hòa</label>
                        </div>
                        <div class="col-md-4 form-floating mb-3">
                            <input type="number" class="form-control" id="inputSoDiemThua" placeholder="Số điểm
                                thua" name="lost" value={{rule.score.lost}}>
                            <label for="inputSoDiemThua" class="form-label">Số điểm thua</label>
                        </div>

                        <div class="border" style="margin: 5px 0; padding: 15px; border-radius: 5px; ">
                            <div style="font-weight:800; padding-bottom: 10px">TIÊU CHÍ XẾP HẠNG</div>
                            <ul id="sortable" style="list-style: none; padding-left:0" >
                                <li class="border" style="padding: 3px 5px; margin: 5px 0">
                                    <div class="news"  value="score">
                                        Tổng điểm
                                    </div>
                                </li>

                                <li class="border" style="padding: 3px 5px; margin: 5px 0">
                                    <div class="news"  value="goalDelta">
                                        Hiệu số bàn thắng
                                    </div>
                                </li>
                                <li class="border" style="padding: 3px 5px; margin: 5px 0">
                                    <div class="news"  value="totalGoal">
                                        Tổng bàn thắng
                                    </div>
                                </li>
                                <li class="border" style="padding: 3px 5px; margin: 5px 0">
                                    <div class="news"  value ="facing">
                                        Lịch sử đối đầu
                                    </div>
                                </li>
                            </ul>

                        </div>

                        <div class="d-grid">
                            <button name="login"  class="btn
                                btn-primary btn-login text-uppercase fw-bold" type="submit">ĐĂNG KÝ</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>