<div class="background-dark vh-100" style="margin: 0; align-item:center; padding:
    30px; padding-top: 100px;">
    <div class="text-center" style="padding: 20px; width: 450px;
        background-color: #8268E9;border-radius: 35px; margin:auto;
        font-size: 25px; font-weight: 800; color:white">
        {{club.name}}
    </div>

    <div class="row m-25" style="padding-top: 60px; margin: 60px; margin-top:
        0">
        <div class="col-3 d-flex justify-content-center;" style="margin: 0; background-color:whitesmoke;
            margin-right: 10px; border-radius: 15px;">
            <img
                src="{{club.logo}}"
                alt="{{club.logo}}" style="width:100%;
                border-radius: 15px; object-fit: contain">
        </div>
        <div class="col-8" style=" background-color:#DAE4FF; border-radius:
            15px;
            padding: 30px">
            {{!-- <h3 style="color: black;">Mô tả: {{club.description}}</h3>
            <h3 style="margin-top: 20px;">Đội trưởng: {{club.captain}}</h3> --}}
            <h3 style="margin-top: 20px;">Sân vận động: {{club.stadium}}</h3>
            <h3 style="margin-top: 20px;">Huấn luyện viên trưởng: {{club.coach}}</h3>
            <h3 style="margin-top: 20px;">Tổng số điểm: {{club.score}}</h3>
            <h3 style="margin-top: 20px;">Số trận: {{club.numberMatch}}. Trong đó: {{club.win}} trận thắng, {{club.draw}} trận hòa, {{club.lost}} trận thua </h3>
            <h3 style="margin-top: 20px;">Tổng số bàn thắng: {{club.totalGoal}}. Hiệu số: {{club.goalDelta}}</h3>
            <div class="text-end">
                <a href="/detail-club/players-of-club/{{club.name}}" style="display:inline-block; background-color:
                    #8268E9; text-decoration:none; color:white; height: 50px;
                    line-height: 50px; padding: 0 15px; border-radius: 15px;
                    margin-top: 15px; ">
                    Danh sách cầu thủ
                </a>
            </div>
        </div>

    </div>
</div>