<div class="row m-25" style="padding-top: 60px; margin: 60px; margin-top: 0; padding-top: 100px">
    <div class="col-4" style="margin: 0;">
        <img
            src={{player.avt}}
            alt="detail.selectMovie.title" style="width: 450px; height: 600px;
            border-radius: 15px">
    </div>
    <div class="col-8" style=" background-color:#DAE4FF; border-radius: 15px;
        padding: 30px">
        <h1 style="color: black;">{{player.name}}</h1>
        <h3 style="margin-top: 20px;">Câu lạc bộ: {{player.club}}</h3>
        <h3 style="margin-top: 20px;">Ngày sinh: {{player.birthday}}</h3>
        <h3 style="margin-top: 20px;">Số áo: {{player.number}}</h3>
        <h4 style="margin-top: 20px;">Vị trí: {{player.role}}</h4>
        <h4 style="margin-top: 20px;">Mô tả: {{player.description}}</h4>

    </div>
</div>