<div class="row m-25" style="padding-top: 60px; margin: 60px; margin-top: 0; padding-top: 100px">
    <div class="col-4" style="margin: 0;">
        <img
            src="https://upload.wikimedia.org/wikipedia/commons/d/dd/Nguy%E1%BB%85n_C%C3%B4ng_Ph%C6%B0%E1%BB%A3ng_20191201.jpg"
            alt="detail.selectMovie.title" style="width: 450px; height: 600px;
            border-radius: 15px">
    </div>
    <div class="col-8" style=" background-color:#DAE4FF; border-radius: 15px;
        padding: 30px">
        <h1 style="color: black;">Nguyễn Công Phượng</h1>
        <h3 style="margin-top: 20px;">Câu lạc bộ: {{player.club}}</h3>
        <h3 style="margin-top: 20px;">Ngày sinh: {{player.birthday}}</h3>
        <h3 style="margin-top: 20px;">Nơi sinh: {{player.birthplace}}</h3>
        <h3 style="margin-top: 20px;">Chiều cao: {{player.height}}</h3>
        <h3 style="margin-top: 20px;">Số áo: {{player.number}}</h3>
        <h4 style="margin-top: 20px;">Vị trí: {{player.position}}</h4>

    </div>
</div>