<div style="padding-top: 100px; padding-bottom: 50px">
    <div>
        <div class="d-flex justify-content-between" style="width: 800px;
            margin:auto; background-color: #0063D8; padding: 5px;
            border-radius:20px; padding-right: 45px">
            <div style="color: red; line-height:45px">Lịch thi đấu</div>
            <div style="font-weight: 800; font-size: 30px">{{today}}</div>
            <div></div>
        </div>

        <div style="margin: auto; width: 800px">
            {{#each match1}}
            <div style="width: 300px; margin: auto; background-color:
                #222035;
                padding: 10px; border-radius: 15px; margin-top: 30px"
                class="text-center">
                <div class="text-center" style="color: rgb(255, 255,
                        255);">{{this.time}}</div>
                <div class="text-center" style="color: red;">{{this.timeRunning}}</div>
                <div class="text-center d-flex justify-content-between"
                    style="color: white;">
                    <div>{{this.club_1}}</div>
                    <div>{{this.goal_1}}</div>
                </div>
                <div class="text-center d-flex justify-content-between"
                    style="color: white;">
                    <div>{{this.club_2}}</div>
                    <div>{{this.goal_2}}</div>
                </div>
            </div>


            {{!-- <div style="width: 300px; margin: auto; background-color:
                #222035;
                padding: 10px; border-radius: 15px; margin-top: 30px"
                class="text-center">
                <div class="text-center" style="color: red;">69:69</div>
                <div class="text-center d-flex justify-content-between"
                    style="color: white;">
                    <div>Việt theo</div>
                    <div>1</div>
                </div>
                <div class="text-center d-flex justify-content-between"
                    style="color: white;">
                    <div>Thanh Hóa </div>
                    <div>10</div>
                </div>
            </div> --}}
            {{/each}}
        </div>
    </div>

    <div style="margin-top: 40px;">
        <div class="d-flex justify-content-between" style="width: 800px;
            margin:auto; background-color: #0063D8; padding: 5px;
            border-radius:20px; padding-right: 45px">
            <div style="color: rgb(0, 255, 17); line-height:45px">Lịch thi
                đấu</div>
            <div style="font-weight: 800; font-size: 30px">{{nextday}}</div>
            <div></div>
        </div>

        <div style="margin: auto; width: 800px">
            {{#each tomorow}}
            <div class="d-flex justify-content-between">
                <div style=" margin-top: 30px">
                    <div class="text-center" style="color: rgb(255, 255,
                        255);">16h00 PM</div>
                    <div style="width: 300px; background-color: #222035;
                        padding: 10px; border-radius: 15px; padding-top:
                        30px"
                        class="text-center">
                        <div class="text-center d-flex
                            justify-content-between"
                            style="color: white;">
                            <div>Hoàng Anh Gia Lai</div>
                            <div>N/A </div>
                        </div>
                        <div class="text-center d-flex
                            justify-content-between"
                            style="color: white;">
                            <div>Hà Nội</div>
                            <div>N/A</div>
                        </div>
                    </div>
                </div>


                <div style=" margin-top: 30px">
                    <div class="text-center" style="color: rgb(253, 253,
                        253);">16h00 PM</div>
                    <div style="width: 300px; background-color: #222035;
                        padding: 10px; border-radius: 15px; padding-top:
                        30px"
                        class="text-center">
                        <div class="text-center d-flex
                            justify-content-between"
                            style="color: white;">
                            <div>Hoàng Anh Gia Lai</div>
                            <div>N/A </div>
                        </div>
                        <div class="text-center d-flex
                            justify-content-between"
                            style="color: white;">
                            <div>Hà Nội</div>
                            <div>N/A</div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
</div>