<div class="row bg-light" style="margin: 0; padding-top:100px; min-height:100vh">

    <div class="col-2 side_bar text-center border" style=" padding-top: 30px;">
        <form role="search" method="post" action="/searchFootballPlayer">
            <input class="form-control me-2" style="margin-bottom: 20px;"
                type="search" placeholder="Nhập tên cầu thủ"
                aria-label="Search" name="playername" value={{playername}}>
            <button class="btn btn-outline-success" type="submit">Tìm kiếm</button>
        </form>
    </div>

    


    <div class="col-10 list-film text-center border" style=" padding-top:
        30px;">
        <div class="container">
            <h3 class="text-center" style="padding-bottom: 40px;">Các cầu thủ</h3>
            <div {{#if user.author}}class="grid-container-3"{{else}}class ="grid-container-4"{{/if}} style="padding-bottom: 10px;">
                {{#each players}}
                <div>
                    <a href="/detail-player/{{this.id}}" style="
                        text-decoration:none">
                        <div class="card" style="width: 18rem; padding: 15px 0;
                            margin-top: 30px">
                            {{!-- Hình ảnh cầu thủ --}}
                            <img src="{{this.avt}}" class="card-img-top"
                                alt="..." style="height:200px;
                                object-fit:contain">
                            <div class="card-body">
                                {{!-- Tên --}}
                                <h5 class="card-title">{{this.name}}</h5>
                                {{!-- Câu lạc bộ --}}
                                <p class="card-text">{{this.club}}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {{/each}}

            </div>

        </div>
    </div>

    <div></div>
</div>